# ===== Keil / MDK build output =====
MDK-ARM/Prototype_Stm32/
MDK-ARM/DebugConfig/
MDK-ARM/RTE/

# ===== Keil user config =====
*.uvoptx
*.uvopt
*.uvguix
*.uvprojx.user

# ===== Build outputs =====
*.o
*.a
*.d
*.elf
*.axf
*.hex
*.bin
*.map
*.lst
*.srec
*.log
*.crf
*.htm
*.lnp
*.sct
*.dep

# ===== CubeMX temp =====
*.bak
*.tmp

# ===== OS =====
.DS_Store
Thumbs.db
